body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: 0px;
    background-color: white;
}

header {
    color: white;
    background-color: black;
}

header h1,
footer p {
    margin: 30px;
    text-align: center;
}

ol {
    display: grid;
    grid-template-columns: auto;
    list-style: none;
    padding: 0px;
}

img {
    height: 200px;
    width: 200px;
}

li {
    width: auto;
    margin: auto;
}

li a, 
.portfolio {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    margin-bottom: 30px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

li a:hover,
.portfolio:hover {
    box-shadow: 10px 10px 50px grey;
    border-radius: 10px;
}

footer {
    min-height: 200px;
    color: white;
    background-color: grey;
}

@media screen and (min-width: 400px) {
    ol {
        grid-template-columns: auto auto;
    }    
}

@media screen and (min-width: 600px) {
    ol {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 800px) {
    ol {
        grid-template-columns: auto auto auto auto;
    }
}