main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

main h1 {
    text-align: center;
    text-transform: uppercase;
}

div {
    margin: 0px 50px;
}

div:last-child {
    margin-bottom: 50px;
}

ol {
    grid-template-columns: auto;
    list-style-type: disc;
    padding-left: 20px;
}

ol li {
    padding-bottom: 20px;
    margin-left: 0px;
}

a.portfolio {
    width: 200px;
    margin: 0px auto;
    text-align: center;
}

@media screen and (min-width: 800px) {
    div {
        margin: 0px 100px;
    }
}