/*-----------------------Main Styles------------------------*/

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin: 0px;
    justify-items: center;
    font-family: sans-serif;
}

header,
main,
footer {
    width: 90vw;
    height: 100px;
}

header {
    margin-top: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
}

main {
    height: auto;
}

footer {
    margin-bottom: 40px;
}

/*-----------------------List Styles-------------------------*/

main ul {
    display: grid;
    grid-template-columns: auto;
    list-style-type: none;
    margin: 0;
    padding: 10px 10px 0 10px;
}

main li {
    display: grid;
    grid-template-columns: 30px auto 30px;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-bottom: none;
}

main li input:checked + label {
    text-decoration: line-through;
}

main ul:last-child {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 50px;
    padding-top: 0;
}

main ul:last-child li {
    grid-template-columns: auto;
    border-right: none;
    border-left: none;    
    border-bottom: 1px solid black;
}

main ul:last-child li:first-child {
    border-left: 1px solid black;
    text-align: center;
}

main ul:last-child li:last-child {
    border-right: 1px solid black;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: grid;
    grid-template-columns: auto 40px;
    height: 40px;
    margin: 0;
    padding: 10px;
}

footer ul li input {
    font-size: 1em;
}

/*-----------------------Media Queries-----------------------*/

@media screen and (min-width: 444px) {
    header,
    main,
    footer {
        width: 400px;
    }
}